<div class="editor">
  <h2>Object List</h2>
  <!--  Drag & Drop object list  -->
  <div class="example-list" cdkDropList (cdkDropListDropped)="drop($event)">
    <div class="example-box" *ngFor="let object of objects" cdkDrag>

      <!-- TODO: Get this into a Component -->
      <input [value]=object.mesh.name>
      <button mat-icon-button aria-label="Wireframe" (click)="toggleWireframe(object.mesh)">
        <mat-icon [ngClass]="{'disabled-icon': !object.mesh.visible}">visibility</mat-icon>
      </button>

      <!-- --- -x- --- -->
    </div>
  </div>

  <div class="bottom-tools">
    <mat-form-field>
      <mat-label>Selection Type</mat-label>
<!--      TODO: This doesn't select at all :) -->
      <mat-select>
        <mat-option *ngFor="let type of selectionTypes" [value]="type">
<!--          Maybe this could be done with CSS -->
          {{type.charAt(0).toUpperCase() + type.slice(1)}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>
