.wrapper {
  display: flex;
  flex-direction: row;

  position: absolute;
  width: 100%;
  height: 100%;
}

.wrapper>* {
  flex: 1 1 auto;
}

.editor {
  font-family: monospace;
  padding: .5em;
  background: #222;
  color: white;
  width: 380px;
}

canvas {
  width: 100%;
  height: 100%;
}
