/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/pink-bluegrey.css';
@import '~@angular/material/theming';

// TODO: Titlebar 
// https://stackoverflow.com/questions/46222035/set-color-of-windows-titlebar-electron-js

// https://material.angular.io/guide/typography
$custom-typography: mat-typography-config(
  $font-family: 'Rubik'
);
@include mat-core($custom-typography);

html {
  box-sizing: border-box;
  background: #f0f0f0;
  overflow: hidden;
}

html, body {
  margin: 0;
  width: 100%;
  height: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}
